In [10]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import time
import matplotlib.pyplot as plt
import numpy as np

# getting info from sports reference

In [332]:
def get_winners (link):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=0
    k=0
    winners=[]
    for thing in list(range(1,100)):
        if k == 22:
            break
        elif k == 0 or k== 1 or k==2 or k==3 or k==5 or k==6 or k==7 or k==8 or k==10 or k==11 or k==12 or k==13 or k==15 or k==16 or k==17 or k==18 or k==20 or k==21:
            try:
                winners.append(idk[k].select('div')[i].select('div[class="winner"]')[0].select('span')[0].string)
                i+=3
            except:
                i=0
                k+=1
                continue
        else:
            i=0
            k+=1
            continue
    winners_int=[]
    for thing in winners:
        winners_int.append(int(thing))
    return winners_int

In [333]:
#function for getting the teams
#gets the teams that played each other all together
def get_teams (link,k):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=1
    maybe = []
    for thing in list(range(1,100)):
        if i%3 !=0:
            try:
                maybe.append(idk[k].select('div')[i].select('span')[0].string)
                i+=1
            except:
                i+=1
                continue
        else:
            i+=1
            continue
    return maybe

In [334]:
#uses the function to split up the teams that played each other into 2 separate lists
def split_up_teams (link):
    All_teams = []
    for thing in list(range(0,23)):
        new=get_teams (link,thing)
        All_teams.extend(new)
    All_teams.pop(-1)
    All_teams.pop(30)
    All_teams.pop(60)
    All_teams.pop(90)
    All_teams.pop(120)
    first_team = All_teams[0::2]
    second_team = All_teams[1::2]
    first_team_int = []
    for thing in first_team:
        first_team_int.append(int(thing))
    second_team_int = []
    for thing in second_team:
        second_team_int.append(int(thing))
    first_team_pd = pd.DataFrame(first_team_int)
    second_team_pd = pd.DataFrame(second_team_int)
    point_difference = first_team_pd-second_team_pd
    point_difference_list=point_difference.values.tolist()
    point_diff_abs = []
    for thing in point_difference_list:
        point_diff_abs.append(abs(thing[0]))
    return first_team_int,second_team_int,point_diff_abs

In [335]:
links = ['https://www.sports-reference.com/cbb/postseason/2011-ncaa.html']

In [336]:
first_team_int = []
second_team_int = []
point_diff_abs = []
winners_int = []
for link in links:
    print(link)
    winners=get_winners (link)
    three_lists=split_up_teams (link)
    first_team_int.extend(three_lists[0])
    second_team_int.extend(three_lists[1])
    point_diff_abs.extend(three_lists[2])
    winners_int.extend(winners)
    #time.sleep(3)

https://www.sports-reference.com/cbb/postseason/2011-ncaa.html

In [316]:
len(three_lists)

3

In [337]:
df = pd.DataFrame({"first_team": first_team_int, "second_team": second_team_int,
                       "winner" : winners_int, "point_difference": point_diff_abs})
result = []
i = 0
for thing in list(df['winner']):
    #print(f'this is {i}')
    if list(df['first_team'])[i] > list(df['second_team'])[i] and list(df['first_team'])[i] == list(df['winner'])[i]:
        #print(f'this is if1')
        result.append(2)
    elif list(df['second_team'])[i] > list(df['first_team'])[i] and list(df['second_team'])[i] == list(df['winner'])[i]:
        #print(f'this is elif1')
        result.append(2)
    elif list(df['first_team'])[i] < list(df['second_team'])[i] and list(df['first_team'])[i] == list(df['winner'])[i]:
        #print(f'this is elif2')
        result.append(1)
    elif list(df['second_team'])[i] < list(df['first_team'])[i] and list(df['second_team'])[i] == list(df['winner'])[i]:
        #print(f'this is elif3')
        result.append(1)
    else:
        result.append(0)
    i+=1
df['result']=result

In [338]:
newdf2 = pd.DataFrame(np.repeat(df.values,2,axis=0))
newdf2.columns = df.columns

In [12]:
newdf

     first_team  second_team  winner  point_difference  result
0             1           16       1                15       1
1             1           16       1                15       1
2             8            9       8                 1       1
3             8            9       8                 1       1
4             5           12      12                 7       2
5             5           12      12                 7       2
6             4           13       4                 9       1
7             4           13       4                 9       1
8             6           11      11                 5       2
9             6           11      11                 5       2
10            3           14       3                11       1
11            3           14       3                11       1
12            7           10       7                 3       1
13            7           10       7                 3       1
14            2           15       2                13       1
15            2           15       2                13       1
16            1            8       1                 7       1
17            1            8       1                 7       1
18           12            4       4                 8       1
19           12            4       4                 8       1
20           11            3      11                 8       2
21           11            3      11                 8       2
22            7            2       2                 5       1
23            7            2       2                 5       1
24            1            4       1                 3       1
25            1            4       1                 3       1
26           11            2       2                 9       1
27           11            2       2                 9       1
28            1            2       1                 1       1
29            1            2       1                 1       1
..          ...          ...     ...               ...     ...
96            4           13       4                 9       1
97            4           13       4                 9       1
98            6           11      11                 5       2
99            6           11      11                 5       2
100           3           14       3                11       1
101           3           14       3                11       1
102           7           10       7                 3       1
103           7           10       7                 3       1
104           2           15       2                13       1
105           2           15       2                13       1
106           1            8       8                 7       2
107           1            8       8                 7       2
108          12            4      12                 8       2
109          12            4      12                 8       2
110          11            3       3                 8       1
111          11            3       3                 8       1
112           7            2       2                 5       1
113           7            2       2                 5       1
114           8           12      12                 4       2
115           8           12      12                 4       2
116           3            2       2                 1       1
117           3            2       2                 1       1
118          12            2       2                10       1
119          12            2       2                10       1
120           1            1       1                 0       0
121           1            1       1                 0       0
122           2            5       5                 3       2
123           2            5       5                 3       2
124           1            5       1                 4       1
125           1            5       1                 4       1

[126 rows x 5 columns]

In [339]:
def get_team_names (link,k):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    maybe = []
    for thing in list(range(0,100)):
        try:
            maybe.append(idk[k].select('a[href^=/cbb/schools]')[thing].string)
        except:
            continue
    return maybe

In [340]:
def get_teams_get (link):
    team_names = []
    for thing in list(range(0,23)):
        new=get_team_names (link,thing)
        team_names.extend(new)
    team_names.pop(-1)
    team_names.pop(30)
    team_names.pop(60)
    team_names.pop(90)
    team_names.pop(120)
    return team_names

In [341]:
team_names=get_teams_get ('https://www.sports-reference.com/cbb/postseason/2011-ncaa.html')

In [342]:
def split_up_teams_2 (link):
    All_teams = []
    for thing in list(range(0,23)):
        new=get_teams (link,thing)
        All_teams.extend(new)
    All_teams.pop(-1)
    All_teams.pop(30)
    All_teams.pop(60)
    All_teams.pop(90)
    All_teams.pop(120)
    return All_teams

In [343]:
All_teams=split_up_teams_2('https://www.sports-reference.com/cbb/postseason/2011-ncaa.html')

In [319]:
All_teams

([1,
  8,
  5,
  4,
  6,
  3,
  7,
  2,
  1,
  5,
  11,
  7,
  1,
  11,
  4,
  1,
  8,
  5,
  4,
  6,
  3,
  7,
  2,
  1,
  5,
  11,
  7,
  8,
  3,
  8,
  1,
  8,
  5,
  4,
  6,
  3,
  7,
  2,
  1,
  12,
  11,
  10,
  1,
  11,
  1,
  1,
  8,
  5,
  4,
  6,
  3,
  7,
  2,
  1,
  5,
  6,
  7,
  1,
  3,
  5,
  3,
  11,
  3],
 [16,
  9,
  12,
  13,
  11,
  14,
  10,
  15,
  8,
  4,
  3,
  2,
  4,
  2,
  2,
  16,
  9,
  12,
  13,
  11,
  14,
  10,
  15,
  8,
  4,
  3,
  2,
  4,
  2,
  2,
  16,
  9,
  12,
  13,
  11,
  14,
  10,
  15,
  9,
  13,
  3,
  2,
  12,
  10,
  11,
  16,
  9,
  12,
  13,
  11,
  14,
  10,
  15,
  8,
  4,
  3,
  2,
  5,
  2,
  3,
  4,
  8,
  8],
 [15,
  1,
  7,
  9,
  5,
  11,
  3,
  13,
  7,
  1,
  8,
  5,
  3,
  9,
  2,
  15,
  1,
  7,
  9,
  5,
  11,
  3,
  13,
  7,
  1,
  8,
  5,
  4,
  1,
  6,
  15,
  1,
  7,
  9,
  5,
  11,
  3,
  13,
  8,
  1,
  8,
  8,
  11,
  1,
  10,
  15,
  1,
  7,
  9,
  5,
  11,
  3,
  13,
  7,
  1,
  3,
  5,
  4,
  1,
  2,
  1,
  3,
  5])

In [344]:
rankings= []
for thing in All_teams:
    rankings.append(int(thing))

In [328]:
newdf2 = {}

In [345]:
newdf2['team_name'] = team_names

In [346]:
newdf2['team_rank'] = rankings

In [347]:
win = []
i = 0
for thing in list(newdf2['team_rank']):
    if list(newdf2['first_team'])[i] == list(newdf2['second_team'])[i]:
        win.append(9999)
    elif list(newdf2['team_rank'])[i] == list(newdf2['winner'])[i]:
        win.append(1)
    elif list(newdf2['team_rank'])[i] != list(newdf2['winner'])[i]:
        win.append(0)
    i+=1
newdf2['win']=win

In [348]:
newdf2.head(2)

,first_team,second_team,winner,point_difference,result,team_name,team_rank,win
0,1,16,1,15,1,Ohio State,1,1
1,1,16,1,15,1,UTSA,16,0

In [118]:
#if the team has a lower seed number, it is given '1', higher seed number '0'
higher_or_lower_seed = []
i = 0
for thing in list(newdf2['team_rank']):
    if list(newdf2['first_team'])[i] == list(newdf2['second_team'])[i]:
        higher_or_lower_seed.append(9999)
    elif list(newdf2['team_rank'])[i] == list(newdf2['first_team'])[i] and list(newdf2['first_team'])[i] < list(newdf2['second_team'])[i]:
        higher_or_lower_seed.append(1)
    elif list(newdf2['team_rank'])[i] == list(newdf2['first_team'])[i] and list(newdf2['first_team'])[i] > list(newdf2['second_team'])[i]:
        higher_or_lower_seed.append(0)
    elif list(newdf2['team_rank'])[i] == list(newdf2['second_team'])[i] and list(newdf2['second_team'])[i] < list(newdf2['first_team'])[i]:
        higher_or_lower_seed.append(1)
    elif list(newdf2['team_rank'])[i] == list(newdf2['second_team'])[i] and list(newdf2['second_team'])[i] > list(newdf2['first_team'])[i]:
        higher_or_lower_seed.append(0)
    i+=1
newdf2['higher_or_lower_seed']=higher_or_lower_seed

In [119]:
newdf2

,first_team,second_team,winner,point_difference,result,team_name,team_rank,win,higher_or_lower_seed
0,1,16,1,15,1,Ohio State,1,1,1
1,1,16,1,15,1,UTSA,16,0,0
2,8,9,8,1,1,George Mason,8,1,1
3,8,9,8,1,1,Villanova,9,0,0
4,5,12,5,7,1,West Virginia,5,1,1
5,5,12,5,7,1,Clemson,12,0,0
6,4,13,4,9,1,Kentucky,4,1,1
7,4,13,4,9,1,Princeton,13,0,0
8,6,11,11,5,2,Xavier,6,0,1
9,6,11,11,5,2,Marquette,11,1,0
10,3,14,3,11,1,Syracuse,3,1,1
11,3,14,3,11,1,Indiana State,14,0,0
12,7,10,7,3,1,Washington,7,1,1
13,7,10,7,3,1,Georgia,10,0,0
14,2,15,2,13,1,UNC,2,1,1
15,2,15,2,13,1,LIU,15,0,0
16,1,8,1,7,1,Ohio State,1,1,1
17,1,8,1,7,1,George Mason,8,0,0
18,5,4,4,1,1,West Virginia,5,0,0
19,5,4,4,1,1,Kentucky,4,1,1
20,11,3,11,8,2,Marquette,11,1,0
21,11,3,11,8,2,Syracuse,3,0,1
22,7,2,2,5,1,Washington,7,0,0
23,7,2,2,5,1,UNC,2,1,1
24,1,4,4,3,2,Ohio State,1,0,1
25,1,4,4,3,2,Kentucky,4,1,0
26,11,2,2,9,1,Marquette,11,0,0
27,11,2,2,9,1,UNC,2,1,1
28,4,2,4,2,2,Kentucky,4,1,0
29,4,2,4,2,2,UNC,2,0,1
...,...,...,...,...,...,...,...,...,...
96,4,13,4,9,1,Texas,4,1,1
97,4,13,4,9,1,Oakland,13,0,0
98,6,11,6,5,1,Cincinnati,6,1,1
99,6,11,6,5,1,Missouri,11,0,0
100,3,14,3,11,1,UConn,3,1,1
101,3,14,3,11,1,Bucknell,14,0,0
102,7,10,7,3,1,Temple,7,1,1
103,7,10,7,3,1,Penn State,10,0,0
104,2,15,2,13,1,San Diego State,2,1,1
105,2,15,2,13,1,Northern Colorado,15,0,0
106,1,8,1,7,1,Duke,1,1,1
107,1,8,1,7,1,Michigan,8,0,0
108,5,4,5,1,2,Arizona,5,1,0
109,5,4,5,1,2,Texas,4,0,1
110,6,3,3,3,1,Cincinnati,6,0,0
111,6,3,3,3,1,UConn,3,1,1
112,7,2,2,5,1,Temple,7,0,0
113,7,2,2,5,1,San Diego State,2,1,1
114,1,5,5,4,2,Duke,1,0,1
115,1,5,5,4,2,Arizona,5,1,0
116,3,2,3,1,2,UConn,3,1,0
117,3,2,3,1,2,San Diego State,2,0,1
118,5,3,3,2,1,Arizona,5,0,0
119,5,3,3,2,1,UConn,3,1,1
120,3,4,3,1,1,UConn,3,1,1
121,3,4,3,1,1,Kentucky,4,0,0
122,11,8,8,3,1,VCU,11,0,0
123,11,8,8,3,1,Butler,8,1,1
124,3,8,3,5,1,UConn,3,1,1
125,3,8,3,5,1,Butler,8,0,0

In [48]:
newdf.team_name.unique()

array(['Maryland', 'Siena', 'Wisconsin', "St. John's (NY)", 'Marquette',
       'Tulsa', 'Kentucky', 'Valparaiso', 'Texas Tech',
       'Southern Illinois', 'Georgia', 'Murray State', 'NC State',
       'Michigan State', 'UConn', 'Hampton', 'Kansas', 'Holy Cross',
       'Stanford', 'Western Kentucky', 'Florida', 'Creighton', 'Illinois',
       'San Diego State', 'Texas', 'Boston College', 'Mississippi State',
       'McNeese State', 'Wake Forest', 'Pepperdine', 'Oregon', 'Montana',
       'Duke', 'Winthrop', 'Notre Dame', 'Charlotte', 'Indiana', 'Utah',
       'USC', 'UNC Wilmington', 'California', 'Penn', 'Pitt',
       'Central Connecticut', 'Oklahoma State', 'Kent State', 'Alabama',
       'Florida Atlantic', 'Cincinnati', 'Boston University', 'UCLA',
       'Ole Miss', 'Miami (FL)', 'Missouri', 'Ohio State', 'Davidson',
       'Gonzaga', 'Wyoming', 'Arizona', 'UCSB', 'Xavier', 'Hawaii',
       'Oklahoma', 'UIC'], dtype=object)

In [56]:
newdf.to_csv('2002_data_sports_reference')

In [120]:
newdf2.rename(columns = {'team_name':'name'}, inplace = True)

In [121]:
newdf2['index']=list(range(0,126))

In [309]:
newdf

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index
0,1,16,1,15,1,Maryland,1,1,1,0
1,1,16,1,15,1,Siena,16,0,0,1
2,8,9,8,1,1,Wisconsin,8,1,1,2
3,8,9,8,1,1,St. John's (NY),9,0,0,3
4,5,12,12,7,2,Marquette,5,0,1,4
5,5,12,12,7,2,Tulsa,12,1,0,5
6,4,13,4,9,1,Kentucky,4,1,1,6
7,4,13,4,9,1,Valparaiso,13,0,0,7
8,6,11,11,5,2,Texas Tech,6,0,1,8
9,6,11,11,5,2,Southern Illinois,11,1,0,9
10,3,14,3,11,1,Georgia,3,1,1,10
11,3,14,3,11,1,Murray State,14,0,0,11
12,7,10,7,3,1,NC State,7,1,1,12
13,7,10,7,3,1,Michigan State,10,0,0,13
14,2,15,2,13,1,UConn,2,1,1,14
15,2,15,2,13,1,Hampton,15,0,0,15
16,1,8,1,7,1,Maryland,1,1,1,16
17,1,8,1,7,1,Wisconsin,8,0,0,17
18,12,4,4,8,1,Tulsa,12,0,0,18
19,12,4,4,8,1,Kentucky,4,1,1,19
20,11,3,11,8,2,Southern Illinois,11,1,0,20
21,11,3,11,8,2,Georgia,3,0,1,21
22,7,2,2,5,1,NC State,7,0,0,22
23,7,2,2,5,1,UConn,2,1,1,23
24,1,4,1,3,1,Maryland,1,1,1,24
25,1,4,1,3,1,Kentucky,4,0,0,25
26,11,2,2,9,1,Southern Illinois,11,0,0,26
27,11,2,2,9,1,UConn,2,1,1,27
28,1,2,1,1,1,Maryland,1,1,1,28
29,1,2,1,1,1,UConn,2,0,0,29
30,1,16,1,15,1,Kansas,1,1,1,30
31,1,16,1,15,1,Holy Cross,16,0,0,31
32,8,9,8,1,1,Stanford,8,1,1,32
33,8,9,8,1,1,Western Kentucky,9,0,0,33
34,5,12,12,7,2,Florida,5,0,1,34
35,5,12,12,7,2,Creighton,12,1,0,35
36,4,13,4,9,1,Illinois,4,1,1,36
37,4,13,4,9,1,San Diego State,13,0,0,37
38,6,11,6,5,1,Texas,6,1,1,38
39,6,11,6,5,1,Boston College,11,0,0,39
40,3,14,3,11,1,Mississippi State,3,1,1,40
41,3,14,3,11,1,McNeese State,14,0,0,41
42,7,10,7,3,1,Wake Forest,7,1,1,42
43,7,10,7,3,1,Pepperdine,10,0,0,43
44,2,15,2,13,1,Oregon,2,1,1,44
45,2,15,2,13,1,Montana,15,0,0,45
46,1,8,1,7,1,Kansas,1,1,1,46
47,1,8,1,7,1,Stanford,8,0,0,47
48,12,4,4,8,1,Creighton,12,0,0,48
49,12,4,4,8,1,Illinois,4,1,1,49
50,6,3,6,3,2,Texas,6,1,0,50
51,6,3,6,3,2,Mississippi State,3,0,1,51
52,7,2,2,5,1,Wake Forest,7,0,0,52
53,7,2,2,5,1,Oregon,2,1,1,53
54,1,4,1,3,1,Kansas,1,1,1,54
55,1,4,1,3,1,Illinois,4,0,0,55
56,6,2,2,4,1,Texas,6,0,0,56
57,6,2,2,4,1,Oregon,2,1,1,57
58,1,2,1,1,1,Kansas,1,1,1,58
59,1,2,1,1,1,Oregon,2,0,0,59
60,1,16,1,15,1,Duke,1,1,1,60
61,1,16,1,15,1,Winthrop,16,0,0,61
62,8,9,8,1,1,Notre Dame,8,1,1,62
63,8,9,8,1,1,Charlotte,9,0,0,63
64,5,12,5,7,1,Indiana,5,1,1,64
65,5,12,5,7,1,Utah,12,0,0,65
66,4,13,13,9,2,USC,4,0,1,66
67,4,13,13,9,2,UNC Wilmington,13,1,0,67
68,6,11,6,5,1,California,6,1,1,68
69,6,11,6,5,1,Penn,11,0,0,69
70,3,14,3,11,1,Pitt,3,1,1,70
71,3,14,3,11,1,Central Connecticut,14,0,0,71
72,7,10,10,3,2,Oklahoma State,7,0,1,72
73,7,10,10,3,2,Kent State,10,1,0,73
74,2,15,2,13,1,Alabama,2,1,1,74
75,2,15,2,13,1,Florida Atlantic,15,0,0,75
76,1,8,1,7,1,Duke,1,1,1,76
77,1,8,1,7,1,Notre Dame,8,0,0,77
78,5,13,5,8,1,Indiana,5,1,1,78
79,5,13,5,8,1,UNC Wilmington,13,0,0,79
80,6,3,3,3,1,California,6,0,0,80
81,6,3,3,3,1,Pitt,3,1,1,81
82,10,2,10,8,2,Kent State,10,1,0,82
83,10,2,10,8,2,Alabama,2,0,1,83
84,1,5,5,4,2,Duke,1,0,1,84
85,1,5,5,4,2,Indiana,5,1,0,85
86,3,10,10,7,2,Pitt,3,0,1,86
87,3,10,10,7,2,Kent State,10,1,0,87
88,5,10,5,5,1,Indiana,5,1,1,88
89,5,10,5,5,1,Kent State,10,0,0,89
90,1,16,1,15,1,Cincinnati,1,1,1,90
91,1,16,1,15,1,Boston University,16,0,0,91
92,8,9,8,1,1,UCLA,8,1,1,92
93,8,9,8,1,1,Ole Miss,9,0,0,93
94,5,12,12,7,2,Miami (FL),5,0,1,94
95,5,12,12,7,2,Missouri,12,1,0,95
96,4,13,4,9,1,Ohio State,4,1,1,96
97,4,13,4,9,1,Davidson,13,0,0,97
98,6,11,11,5,2,Gonzaga,6,0,1,98
99,6,11,11,5,2,Wyoming,11,1,0,99
100,3,14,3,11,1,Arizona,3,1,1,100
101,3,14,3,11,1,UCSB,14,0,0,101
102,7,10,7,3,1,Xavier,7,1,1,102
103,7,10,7,3,1,Hawaii,10,0,0,103
104,2,15,2,13,1,Oklahoma,2,1,1,104
105,2,15,2,13,1,UIC,15,0,0,105
106,1,8,8,7,2,Cincinnati,1,0,1,106
107,1,8,8,7,2,UCLA,8,1,0,107
108,12,4,12,8,2,Missouri,12,1,0,108
109,12,4,12,8,2,Ohio State,4,0,1,109
110,11,3,3,8,1,Wyoming,11,0,0,110
111,11,3,3,8,1,Arizona,3,1,1,111
112,7,2,2,5,1,Xavier,7,0,0,112
113,7,2,2,5,1,Oklahoma,2,1,1,113
114,8,12,12,4,2,UCLA,8,0,1,114
115,8,12,12,4,2,Missouri,12,1,0,115
116,3,2,2,1,1,Arizona,3,0,0,116
117,3,2,2,1,1,Oklahoma,2,1,1,117
118,12,2,2,10,1,Missouri,12,0,0,118
119,12,2,2,10,1,Oklahoma,2,1,1,119
120,1,1,1,0,0,Maryland,1,9999,9999,120
121,1,1,1,0,0,Kansas,1,9999,9999,121
122,2,5,5,3,2,Oklahoma,2,0,1,122
123,2,5,5,3,2,Indiana,5,1,0,123
124,1,5,1,4,1,Maryland,1,1,1,124
125,1,5,1,4,1,Indiana,5,0,0,125

In [ ]:
df = pd.DataFrame(newdf,columns=['Month_No'])

In [ ]:
#add in the year
#make the 9999

# getting infor from ESPN

In [245]:
def get_score_info (links):
    names = []
    PTS = []
    FG_perc = []
    _3p_perc = []
    FT_perc = []
    for link in links:
        print(link)
        page = requests.get(link)
        soup = BS(page.content, 'html.parser')
        idk=soup.select('tr[class^="oddrow"]')
        idk2=soup.select('tr[class^="evenrow"]')
        i = 0
        for thing in idk:
            try:    
                names.append(thing.select('td')[1].string)
                names.append(idk2[i].select('td')[1].string)
                PTS.append(float(thing.select('td')[3].string))
                PTS.append(float(idk2[i].select('td')[3].string))
                FG_perc.append(float(thing.select('td')[5].string))
                FG_perc.append(float(idk2[i].select('td')[5].string))
                _3p_perc.append(float(thing.select('td')[7].string))
                _3p_perc.append(float(idk2[i].select('td')[7].string))
                FT_perc.append(float(thing.select('td')[9].string))
                FT_perc.append(float(idk2[i].select('td')[9].string))
                i+=1
            except:
                continue
                i+=1
    return names, PTS, FG_perc, _3p_perc, FT_perc

In [246]:
list_years = []
i = 2002
for num in range(0,1):
    list_years.append(str(i))
    i+=1

In [247]:
links = []
for thing in list_years:
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing)
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/41')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/81')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/121')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/161')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/201')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/241')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/281')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/321')

In [248]:
links

['http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002',
 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/41',
 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/81',
 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/121',
 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/161',
 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/201',
 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/241',
 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/281',
 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/321']

In [249]:
names, PTS, FG_perc, _3p_perc, FT_perc = get_score_info (links)

http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/41
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/81
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/121
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/161
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/201
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/241
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/281
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2002/count/321

In [255]:
names.pop(-1)

'Columbia'

In [256]:
len(names)

324

In [257]:
D = {'name':names, 'PTS':PTS, 'FG_perc':FG_perc, '_3p_perc':_3p_perc, 'FT_perc':FT_perc}

In [258]:
df2 = pd.DataFrame(data=D)

In [54]:
list(df['name'])

['Kansas',
 'Duke',
 'Oregon',
 'TCU',
 'Maryland',
 'Arizona',
 'Wagner',
 'Wake Forest',
 'Gonzaga',
 'Pepperdine',
 'East Tennessee State',
 'Stanford',
 'Georgetown',
 'St. Bonaventure',
 'Gardner-Webb',
 'Florida',
 'Tulsa',
 'Memphis',
 'St. Francis (BKN)',
 'Virginia',
 'Alabama A&M',
 'Hampton',
 'Alcorn State',
 'Colorado',
 'Tennessee Tech',
 'Georgia Southern',
 'UT Rio Grande Valley',
 'Missouri',
 'Texas Tech',
 'Texas',
 'Quinnipiac',
 'Murray State',
 'Notre Dame',
 'Ball State',
 'North Texas',
 'Oklahoma',
 'Western Kentucky',
 'Grambling',
 'UNLV',
 'Valparaiso',
 'UT Martin',
 'UConn',
 'New Mexico State',
 'Western Carolina',
 'Marshall',
 'USC',
 'Northern Illinois',
 'Tennessee State',
 'UCF',
 'Georgia State',
 'Texas A&M-CC',
 'Brown',
 'Illinois',
 'Cincinnati',
 'Morehead State',
 "Saint Joseph's",
 'UTSA',
 'Louisville',
 'Kentucky',
 'South Florida',
 'Baylor',
 'VMI',
 'Georgia Tech',
 'Appalachian State',
 'Kent State',
 'Arizona State',
 'UT Arlington',
 'Alabama',
 'Georgia',
 'Long Island University',
 'Oral Roberts',
 'Mississippi Valley State',
 'Creighton',
 'Southern Illinois',
 'NC State',
 'Milwaukee',
 'Wyoming',
 'Yale',
 'Oakland',
 'San Diego',
 'Vermont',
 'Troy',
 'Sacred Heart',
 'Manhattan',
 'Clemson',
 'IUPUI',
 'Ohio',
 'Howard',
 'Weber State',
 'Bowling Green',
 'Arkansas',
 'Minnesota',
 'San Diego State',
 'Miami',
 'Sam Houston State',
 'Texas State',
 'Eastern Illinois',
 'Marist',
 'Little Rock',
 'Ohio State',
 'Mississippi State',
 'Florida Atlantic',
 'Boston College',
 'Niagara',
 'UIC',
 'UCLA',
 'New Mexico',
 'Southern',
 'Charlotte',
 'UMBC',
 'Syracuse',
 'Wright State',
 'Nevada',
 'Western Illinois',
 'Western Michigan',
 'Sacramento State',
 'Dayton',
 'Marquette',
 'Chattanooga',
 'Pennsylvania',
 'Jackson State',
 'Northwestern State',
 'Prairie View A&M',
 'West Virginia',
 'Eastern Kentucky',
 'Iowa',
 'The Citadel',
 'Fresno State',
 'Arkansas State',
 'Wichita State',
 'Drexel',
 'Portland State',
 'Stetson',
 'Louisiana Tech',
 'Colgate',
 'Xavier',
 'VCU',
 'Lafayette',
 'California',
 'Pittsburgh',
 'UNC Greensboro',
 'Houston',
 'Ole Miss',
 'SMU',
 'Loyola Chicago',
 'North Carolina',
 'Tulane',
 "Hawai'i",
 'Belmont',
 'Centenary',
 'Vanderbilt',
 'Oklahoma State',
 'Washington',
 'Montana',
 'Central Connecticut',
 'Portland',
 'Florida State',
 'Tennessee',
 'Fairfield',
 'Fairleigh Dickinson',
 'Providence',
 'Long Beach State',
 'San Francisco',
 'Purdue',
 'SE Missouri St',
 'Radford',
 'Iona',
 'UL Monroe',
 'Northeastern',
 'Jacksonville',
 'Villanova',
 'Davidson',
 'Northern Iowa',
 'Missouri State',
 'DePaul',
 'Fordham',
 'Campbell',
 'Rider',
 'Seton Hall',
 'McNeese',
 'Austin Peay',
 'Washington State',
 'UAB',
 "St. John's",
 'BYU',
 'Jacksonville State',
 'Indiana',
 'Butler',
 'Idaho State',
 'Lamar',
 'Pacific',
 'Temple',
 'James Madison',
 'Central Michigan',
 'George Mason',
 'Montana State',
 'UC Irvine',
 'UNC Asheville',
 'Eastern Washington',
 'Nebraska',
 'Michigan State',
 'Iowa State',
 'South Carolina State',
 'Siena',
 'Coastal Carolina',
 'Lipscomb',
 'Elon',
 'George Washington',
 'Akron',
 'Louisiana',
 'Charleston',
 'Navy',
 'Virginia Tech',
 'Texas Southern',
 'Cal Poly',
 'High Point',
 'Drake',
 'Robert Morris',
 'UTEP',
 'Furman',
 'New Hampshire',
 'Loyola Marymount',
 'Norfolk State',
 'Colorado State',
 'LSU',
 'Winthrop',
 'Kansas State',
 'Monmouth',
 'Bethune-Cookman',
 'CSU Northridge',
 'South Carolina',
 'Rutgers',
 'Utah',
 'Evansville',
 'Northern Arizona',
 'Boston University',
 'Michigan',
 'Buffalo',
 'Santa Clara',
 'Cleveland State',
 'North Carolina A&T',
 'Old Dominion',
 'Illinois State',
 'UNC Wilmington',
 'Toledo',
 'Middle Tennessee',
 'Wisconsin',
 'Utah State',
 'Wofford',
 'Army',
 'Delaware',
 'Florida A&M',
 'La Salle',
 'Eastern Michigan',
 'New Orleans',
 'Lehigh',
 'UC Santa Barbara',
 'Arkansas-Pine Bluff',
 'Mercer',
 'American',
 'Maryland-Eastern Shore',
 'Hofstra',
 'Rice',
 'Green Bay',
 'Detroit Mercy',
 'Auburn',
 'Canisius',
 'Alabama State',
 'Morgan State',
 "Saint Peter's",
 'Texas A&M',
 'Denver',
 'Delaware State',
 'Southern Utah',
 'Binghamton',
 'Youngstown St',
 'UC Riverside',
 'South Alabama',
 'East Carolina',
 'Oregon State',
 'UMass',
 'Harvard',
 'Duquesne',
 'Miami (OH)',
 'UMKC',
 'Maine',
 'Florida International',
 'Liberty',
 'Penn State',
 'Stephen F. Austin',
 'Holy Cross',
 'Saint Louis',
 'Chicago State',
 'St. Francis (PA)',
 'William & Mary',
 'Birmingham-Southern',
 'Dartmouth',
 'Charleston Southern',
 'Richmond',
 'Boise State',
 'CSU Fullerton',
 'Southern Miss',
 'San José St',
 'Rhode Island',
 'Indiana State',
 'Bucknell',
 "Saint Mary's",
 'Hartford',
 'Stony Brook',
 "Mt. St. Mary's",
 'Bradley',
 'Samford',
 'Princeton',
 'Northwestern',
 'Nicholls',
 'Loyola (MD)',
 'Towson',
 'Coppin State',
 'Morris Brown',
 'Cornell',
 'Air Force',
 'SE Louisiana',
 'Albany',
 'Idaho']

# Merging espn and sports reference

In [217]:
possibly2=pd.merge(newdf2,df1,how='inner',on='name')

In [ ]:
possibly

In [132]:
len(list(possibly2['first_team']))

116

In [218]:
possibly2 = possibly2.sort_values(by ='index' )

In [262]:
list(df2['name'])

['Kansas',
 'Duke',
 'Oregon',
 'TCU',
 'Maryland',
 'Arizona',
 'Wagner',
 'Wake Forest',
 'Gonzaga',
 'Pepperdine',
 'East Tennessee State',
 'Stanford',
 'Georgetown',
 'St. Bonaventure',
 'Gardner-Webb',
 'Florida',
 'Tulsa',
 'Memphis',
 'St. Francis (BKN)',
 'Virginia',
 'Alabama A&M',
 'Hampton',
 'Alcorn State',
 'Colorado',
 'Tennessee Tech',
 'Georgia Southern',
 'UT Rio Grande Valley',
 'Missouri',
 'Texas Tech',
 'Texas',
 'Quinnipiac',
 'Murray State',
 'Notre Dame',
 'Ball State',
 'North Texas',
 'Oklahoma',
 'Western Kentucky',
 'Grambling',
 'UNLV',
 'Valparaiso',
 'UT Martin',
 'UConn',
 'New Mexico State',
 'Western Carolina',
 'Marshall',
 'USC',
 'Northern Illinois',
 'Tennessee State',
 'UCF',
 'Georgia State',
 'Texas A&M-CC',
 'Brown',
 'Illinois',
 'Cincinnati',
 'Morehead State',
 "Saint Joseph's",
 'UTSA',
 'Louisville',
 'Kentucky',
 'South Florida',
 'Baylor',
 'VMI',
 'Georgia Tech',
 'Appalachian State',
 'Kent State',
 'Arizona State',
 'UT Arlington',
 'Alabama',
 'Georgia',
 'Long Island University',
 'Oral Roberts',
 'Mississippi Valley State',
 'Creighton',
 'Southern Illinois',
 'NC State',
 'Milwaukee',
 'Wyoming',
 'Yale',
 'Oakland',
 'San Diego',
 'Vermont',
 'Troy',
 'Sacred Heart',
 'Manhattan',
 'Clemson',
 'IUPUI',
 'Ohio',
 'Howard',
 'Weber State',
 'Bowling Green',
 'Arkansas',
 'Minnesota',
 'San Diego State',
 'Miami',
 'Sam Houston State',
 'Texas State',
 'Eastern Illinois',
 'Marist',
 'Little Rock',
 'Ohio State',
 'Mississippi State',
 'Florida Atlantic',
 'Boston College',
 'Niagara',
 'UIC',
 'UCLA',
 'New Mexico',
 'Southern',
 'Charlotte',
 'UMBC',
 'Syracuse',
 'Wright State',
 'Nevada',
 'Western Illinois',
 'Western Michigan',
 'Sacramento State',
 'Dayton',
 'Marquette',
 'Chattanooga',
 'Pennsylvania',
 'Jackson State',
 'Northwestern State',
 'Prairie View A&M',
 'West Virginia',
 'Eastern Kentucky',
 'Iowa',
 'The Citadel',
 'Fresno State',
 'Arkansas State',
 'Wichita State',
 'Drexel',
 'Portland State',
 'Stetson',
 'Louisiana Tech',
 'Colgate',
 'Xavier',
 'VCU',
 'Lafayette',
 'California',
 'Pittsburgh',
 'UNC Greensboro',
 'Houston',
 'Ole Miss',
 'SMU',
 'Loyola Chicago',
 'North Carolina',
 'Tulane',
 "Hawai'i",
 'Belmont',
 'Centenary',
 'Vanderbilt',
 'Oklahoma State',
 'Washington',
 'Montana',
 'Central Connecticut',
 'Portland',
 'Florida State',
 'Tennessee',
 'Fairfield',
 'Fairleigh Dickinson',
 'Providence',
 'Long Beach State',
 'San Francisco',
 'Purdue',
 'SE Missouri St',
 'Radford',
 'Iona',
 'UL Monroe',
 'Northeastern',
 'Jacksonville',
 'Villanova',
 'Davidson',
 'Northern Iowa',
 'Missouri State',
 'DePaul',
 'Fordham',
 'Campbell',
 'Rider',
 'Seton Hall',
 'McNeese',
 'Austin Peay',
 'Washington State',
 'UAB',
 "St. John's",
 'BYU',
 'Jacksonville State',
 'Indiana',
 'Butler',
 'Idaho State',
 'Lamar',
 'Pacific',
 'Temple',
 'James Madison',
 'Central Michigan',
 'George Mason',
 'Montana State',
 'UC Irvine',
 'UNC Asheville',
 'Eastern Washington',
 'Nebraska',
 'Michigan State',
 'Iowa State',
 'South Carolina State',
 'Siena',
 'Coastal Carolina',
 'Lipscomb',
 'Elon',
 'George Washington',
 'Akron',
 'Louisiana',
 'Charleston',
 'Navy',
 'Virginia Tech',
 'Texas Southern',
 'Cal Poly',
 'High Point',
 'Drake',
 'Robert Morris',
 'UTEP',
 'Furman',
 'New Hampshire',
 'Loyola Marymount',
 'Norfolk State',
 'Colorado State',
 'LSU',
 'Winthrop',
 'Kansas State',
 'Monmouth',
 'Bethune-Cookman',
 'CSU Northridge',
 'South Carolina',
 'Rutgers',
 'Utah',
 'Evansville',
 'Northern Arizona',
 'Boston University',
 'Michigan',
 'Buffalo',
 'Santa Clara',
 'Cleveland State',
 'North Carolina A&T',
 'Old Dominion',
 'Illinois State',
 'UNC Wilmington',
 'Toledo',
 'Middle Tennessee',
 'Wisconsin',
 'Utah State',
 'Wofford',
 'Army',
 'Delaware',
 'Florida A&M',
 'La Salle',
 'Eastern Michigan',
 'New Orleans',
 'Lehigh',
 'UC Santa Barbara',
 'Arkansas-Pine Bluff',
 'Mercer',
 'American',
 'Maryland-Eastern Shore',
 'Hofstra',
 'Rice',
 'Green Bay',
 'Detroit Mercy',
 'Auburn',
 'Canisius',
 'Alabama State',
 'Morgan State',
 "Saint Peter's",
 'Texas A&M',
 'Denver',
 'Delaware State',
 'Southern Utah',
 'Binghamton',
 'Youngstown St',
 'UC Riverside',
 'South Alabama',
 'East Carolina',
 'Oregon State',
 'UMass',
 'Harvard',
 'Duquesne',
 'Miami (OH)',
 'UMKC',
 'Maine',
 'Florida International',
 'Liberty',
 'Penn State',
 'Stephen F. Austin',
 'Holy Cross',
 'Saint Louis',
 'Chicago State',
 'St. Francis (PA)',
 'William & Mary',
 'Birmingham-Southern',
 'Dartmouth',
 'Charleston Southern',
 'Richmond',
 'Boise State',
 'CSU Fullerton',
 'Southern Miss',
 'San José St',
 'Rhode Island',
 'Indiana State',
 'Bucknell',
 "Saint Mary's",
 'Hartford',
 'Stony Brook',
 "Mt. St. Mary's",
 'Bradley',
 'Samford',
 'Princeton',
 'Northwestern',
 'Nicholls',
 'Loyola (MD)',
 'Towson',
 'Coppin State',
 'Morris Brown',
 'Cornell',
 'Air Force',
 'SE Louisiana',
 'Albany',
 'Idaho']

In [263]:
df2_names=pd.DataFrame(list(df2['name']))

In [264]:
df1_names=pd.DataFrame(list(df1['name']))

In [270]:
df1_names

                          0
0                       VMI
1                   Oakland
2                Washington
3    Long Island University
4                    Kansas
5                     Lamar
6        South Dakota State
7                       BYU
8                  Missouri
9                      Duke
10                  Belmont
11             South Dakota
12                 Colorado
13             Saint Mary's
14                     Iona
15              Texas State
16                 Duquesne
17         Coastal Carolina
18               Ohio State
19       Northwestern State
20                 Maryland
21                 La Salle
22                  Gonzaga
23           North Carolina
24                  Arizona
25                 Kentucky
26                 Longwood
27              North Texas
28                 Lipscomb
29               Vanderbilt
30               Charleston
31                Marquette
32               Notre Dame
33              Utah Valley
34               Providence
35       North Dakota State
36               Louisville
37                UC Irvine
38             Oral Roberts
39                    Texas
40           Tennessee Tech
41               Iowa State
42                     Ohio
43            Detroit Mercy
44                  McNeese
45        Purdue Fort Wayne
46              New Orleans
47                     Elon
48            UNC Asheville
49            Southern Miss
50               Pittsburgh
51                 Ole Miss
52              Boise State
53                    Rider
54                  Wofford
55      Charleston Southern
56                 Marshall
57              Austin Peay
58                   Lehigh
59                 Syracuse
60               New Mexico
61         Washington State
62                    UConn
63             George Mason
64               Texas Tech
65         Long Beach State
66               Valparaiso
67             Kansas State
68        Appalachian State
69              Santa Clara
70                   Butler
71                Villanova
72                   Purdue
73                   Xavier
74             Coppin State
75         Western Michigan
76              San José St
77               California
78           Portland State
79            Wichita State
80          San Diego State
81        Northern Colorado
82               Utah State
83         Northern Arizona
84                  Harvard
85                  Memphis
86                     UNLV
87               Quinnipiac
88          Cleveland State
89    Florida International
90                    IUPUI
91         New Mexico State
92             Northwestern
93           Boston College
94                     Troy
95           Colorado State
96            James Madison
97                  Florida
98                      VCU
99                    Brown
..                      ...
246         Bethune-Cookman
247                   UMass
248    South Carolina State
249                American
250          SE Missouri St
251              High Point
252                Michigan
253        Eastern Kentucky
254                Oklahoma
255            UC Riverside
256                 Wyoming
257              Evansville
258            Old Dominion
259                Winthrop
260                 Pacific
261      Florida Gulf Coast
262            Alcorn State
263                Nicholls
264                Campbell
265           Jackson State
266        Georgia Southern
267                     SMU
268        St. Francis (PA)
269       Boston University
270               Fairfield
271          Kennesaw State
272           North Florida
273                 Colgate
274                 Bradley
275       George Washington
276        SIU-Edwardsville
277             Idaho State
278             Alabama A&M
279          Saint Joseph's
280                   Drake
281     Fairleigh Dickinson
282            Wright State
283                    UMBC
284             Florida A&M
285           Bowling Green
286                 Fordham
287          Louisiana Tech
288          William & Mary
289               Air Force
290                 Stetson
291             The Citadel
292           Arizona State
293          Texas Southern
294          UNC Wilmington
295                  Drexel
296           Northern Iowa
297              Penn State
298             Saint Louis
299                Delaware
300                  Albany
301        Prairie View A&M
302                     UIC
303            Texas A&M-CC
304          Delaware State
305                  Auburn
306                     LSU
307            Gardner-Webb
308           South Florida
309           Georgia State
310                Virginia
311            Presbyterian
312        Sacramento State
313        Eastern Michigan
314                 Niagara
315           Saint Peter's
316           Alabama State
317          Illinois State
318       Southern Illinois
319             Stony Brook
320      Jacksonville State
321               San Diego
322                 Samford
323          Mt. St. Mary's
324                Monmouth
325             Savannah St
326               Grambling
327        Eastern Illinois
328               Manhattan
329              Binghamton
330                  Denver
331                  Marist
332               UL Monroe
333                Hartford
334                 Radford
335     Arkansas-Pine Bluff
336               Dartmouth
337        Central Michigan
338                Cal Poly
339               Centenary
340                  Howard
341           New Hampshire
342  South Carolina Upstate
343                  Toledo
344        Western Illinois
345                Southern

[346 rows x 1 columns]

In [268]:
please=pd.merge(df1_names,df2_names,how='inner',on=0)

In [271]:
please

                          0
0                       VMI
1                   Oakland
2                Washington
3    Long Island University
4                    Kansas
5                     Lamar
6                       BYU
7                  Missouri
8                      Duke
9                   Belmont
10                 Colorado
11             Saint Mary's
12                     Iona
13              Texas State
14                 Duquesne
15         Coastal Carolina
16               Ohio State
17       Northwestern State
18                 Maryland
19                 La Salle
20                  Gonzaga
21           North Carolina
22                  Arizona
23                 Kentucky
24              North Texas
25                 Lipscomb
26               Vanderbilt
27               Charleston
28                Marquette
29               Notre Dame
30               Providence
31               Louisville
32                UC Irvine
33             Oral Roberts
34                    Texas
35           Tennessee Tech
36               Iowa State
37                     Ohio
38            Detroit Mercy
39                  McNeese
40              New Orleans
41                     Elon
42            UNC Asheville
43            Southern Miss
44               Pittsburgh
45                 Ole Miss
46              Boise State
47                    Rider
48                  Wofford
49      Charleston Southern
50                 Marshall
51              Austin Peay
52                   Lehigh
53                 Syracuse
54               New Mexico
55         Washington State
56                    UConn
57             George Mason
58               Texas Tech
59         Long Beach State
60               Valparaiso
61             Kansas State
62        Appalachian State
63              Santa Clara
64                   Butler
65                Villanova
66                   Purdue
67                   Xavier
68             Coppin State
69         Western Michigan
70              San José St
71               California
72           Portland State
73            Wichita State
74          San Diego State
75               Utah State
76         Northern Arizona
77                  Harvard
78                  Memphis
79                     UNLV
80               Quinnipiac
81          Cleveland State
82    Florida International
83                    IUPUI
84         New Mexico State
85             Northwestern
86           Boston College
87                     Troy
88           Colorado State
89            James Madison
90                  Florida
91                      VCU
92                    Brown
93                 Davidson
94                  Buffalo
95       North Carolina A&T
96                 Illinois
97            CSU Fullerton
98                 Portland
99                    Miami
..                      ...
222           Chicago State
223            Morgan State
224           Indiana State
225       Stephen F. Austin
226                Stanford
227                 Rutgers
228            Sacred Heart
229         Bethune-Cookman
230                   UMass
231    South Carolina State
232                American
233          SE Missouri St
234              High Point
235                Michigan
236        Eastern Kentucky
237                Oklahoma
238            UC Riverside
239                 Wyoming
240              Evansville
241            Old Dominion
242                Winthrop
243                 Pacific
244            Alcorn State
245                Nicholls
246                Campbell
247           Jackson State
248        Georgia Southern
249                     SMU
250        St. Francis (PA)
251       Boston University
252               Fairfield
253                 Colgate
254                 Bradley
255       George Washington
256             Idaho State
257             Alabama A&M
258          Saint Joseph's
259                   Drake
260     Fairleigh Dickinson
261            Wright State
262                    UMBC
263             Florida A&M
264           Bowling Green
265                 Fordham
266          Louisiana Tech
267          William & Mary
268               Air Force
269                 Stetson
270             The Citadel
271           Arizona State
272          Texas Southern
273          UNC Wilmington
274                  Drexel
275           Northern Iowa
276              Penn State
277             Saint Louis
278                Delaware
279                  Albany
280        Prairie View A&M
281                     UIC
282            Texas A&M-CC
283          Delaware State
284                  Auburn
285                     LSU
286            Gardner-Webb
287           South Florida
288           Georgia State
289                Virginia
290        Sacramento State
291        Eastern Michigan
292                 Niagara
293           Saint Peter's
294           Alabama State
295          Illinois State
296       Southern Illinois
297             Stony Brook
298      Jacksonville State
299               San Diego
300                 Samford
301          Mt. St. Mary's
302                Monmouth
303               Grambling
304        Eastern Illinois
305               Manhattan
306              Binghamton
307                  Denver
308                  Marist
309               UL Monroe
310                Hartford
311                 Radford
312     Arkansas-Pine Bluff
313               Dartmouth
314        Central Michigan
315                Cal Poly
316               Centenary
317                  Howard
318           New Hampshire
319                  Toledo
320        Western Illinois
321                Southern

[322 rows x 1 columns]

In [261]:
len(list(df1['name']))

346

In [230]:
blah=list(df1['name']).sort()

In [231]:
blah

In [237]:
import pandas as pd

In [240]:
pd.set_option('display.max_rows', 200)

newdf2

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index
0,1,16,1,15,1,Ohio State,1,1,1,0
1,1,16,1,15,1,UTSA,16,0,0,1
2,8,9,8,1,1,George Mason,8,1,1,2
3,8,9,8,1,1,Villanova,9,0,0,3
4,5,12,5,7,1,West Virginia,5,1,1,4
5,5,12,5,7,1,Clemson,12,0,0,5
6,4,13,4,9,1,Kentucky,4,1,1,6
7,4,13,4,9,1,Princeton,13,0,0,7
8,6,11,11,5,2,Xavier,6,0,1,8
9,6,11,11,5,2,Marquette,11,1,0,9
10,3,14,3,11,1,Syracuse,3,1,1,10
11,3,14,3,11,1,Indiana State,14,0,0,11
12,7,10,7,3,1,Washington,7,1,1,12
13,7,10,7,3,1,Georgia,10,0,0,13
14,2,15,2,13,1,UNC,2,1,1,14
15,2,15,2,13,1,LIU,15,0,0,15
16,1,8,1,7,1,Ohio State,1,1,1,16
17,1,8,1,7,1,George Mason,8,0,0,17
18,5,4,4,1,1,West Virginia,5,0,0,18
19,5,4,4,1,1,Kentucky,4,1,1,19
20,11,3,11,8,2,Marquette,11,1,0,20
21,11,3,11,8,2,Syracuse,3,0,1,21
22,7,2,2,5,1,Washington,7,0,0,22
23,7,2,2,5,1,UNC,2,1,1,23
24,1,4,4,3,2,Ohio State,1,0,1,24
25,1,4,4,3,2,Kentucky,4,1,0,25
26,11,2,2,9,1,Marquette,11,0,0,26
27,11,2,2,9,1,UNC,2,1,1,27
28,4,2,4,2,2,Kentucky,4,1,0,28
29,4,2,4,2,2,UNC,2,0,1,29
30,1,16,1,15,1,Pitt,1,1,1,30
31,1,16,1,15,1,UNC Asheville,16,0,0,31
32,8,9,8,1,1,Butler,8,1,1,32
33,8,9,8,1,1,Old Dominion,9,0,0,33
34,5,12,5,7,1,Kansas State,5,1,1,34
35,5,12,5,7,1,Utah State,12,0,0,35
36,4,13,4,9,1,Wisconsin,4,1,1,36
37,4,13,4,9,1,Belmont,13,0,0,37
38,6,11,11,5,2,St. John's (NY),6,0,1,38
39,6,11,11,5,2,Gonzaga,11,1,0,39
40,3,14,3,11,1,BYU,3,1,1,40
41,3,14,3,11,1,Wofford,14,0,0,41
42,7,10,7,3,1,UCLA,7,1,1,42
43,7,10,7,3,1,Michigan State,10,0,0,43
44,2,15,2,13,1,Florida,2,1,1,44
45,2,15,2,13,1,UCSB,15,0,0,45
46,1,8,8,7,2,Pitt,1,0,1,46
47,1,8,8,7,2,Butler,8,1,0,47
48,5,4,4,1,1,Kansas State,5,0,0,48
49,5,4,4,1,1,Wisconsin,4,1,1,49
50,11,3,3,8,1,Gonzaga,11,0,0,50
51,11,3,3,8,1,BYU,3,1,1,51
52,7,2,2,5,1,UCLA,7,0,0,52
53,7,2,2,5,1,Florida,2,1,1,53
54,8,4,8,4,2,Butler,8,1,0,54
55,8,4,8,4,2,Wisconsin,4,0,1,55
56,3,2,2,1,1,BYU,3,0,0,56
57,3,2,2,1,1,Florida,2,1,1,57
58,8,2,8,6,2,Butler,8,1,0,58
59,8,2,8,6,2,Florida,2,0,1,59
60,1,16,1,15,1,Kansas,1,1,1,60
61,1,16,1,15,1,Boston University,16,0,0,61
62,8,9,9,1,2,UNLV,8,0,1,62
63,8,9,9,1,2,Illinois,9,1,0,63
64,5,12,12,7,2,Vanderbilt,5,0,1,64
65,5,12,12,7,2,Richmond,12,1,0,65
66,4,13,13,9,2,Louisville,4,0,1,66
67,4,13,13,9,2,Morehead State,13,1,0,67
68,6,11,11,5,2,Georgetown,6,0,1,68
69,6,11,11,5,2,VCU,11,1,0,69
70,3,14,3,11,1,Purdue,3,1,1,70
71,3,14,3,11,1,St. Peter's,14,0,0,71
72,7,10,10,3,2,Texas A&M,7,0,1,72
73,7,10,10,3,2,Florida State,10,1,0,73
74,2,15,2,13,1,Notre Dame,2,1,1,74
75,2,15,2,13,1,Akron,15,0,0,75
76,1,9,1,8,1,Kansas,1,1,1,76
77,1,9,1,8,1,Illinois,9,0,0,77
78,12,13,12,1,1,Richmond,12,1,1,78
79,12,13,12,1,1,Morehead State,13,0,0,79
80,11,3,11,8,2,VCU,11,1,0,80
81,11,3,11,8,2,Purdue,3,0,1,81
82,10,2,10,8,2,Florida State,10,1,0,82
83,10,2,10,8,2,Notre Dame,2,0,1,83
84,1,12,1,11,1,Kansas,1,1,1,84
85,1,12,1,11,1,Richmond,12,0,0,85
86,11,10,11,1,2,VCU,11,1,0,86
87,11,10,11,1,2,Florida State,10,0,1,87
88,1,11,11,10,2,Kansas,1,0,1,88
89,1,11,11,10,2,VCU,11,1,0,89
90,1,16,1,15,1,Duke,1,1,1,90
91,1,16,1,15,1,Hampton,16,0,0,91
92,8,9,8,1,1,Michigan,8,1,1,92
93,8,9,8,1,1,Tennessee,9,0,0,93
94,5,12,5,7,1,Arizona,5,1,1,94
95,5,12,5,7,1,Memphis,12,0,0,95
96,4,13,4,9,1,Texas,4,1,1,96
97,4,13,4,9,1,Oakland,13,0,0,97
98,6,11,6,5,1,Cincinnati,6,1,1,98
99,6,11,6,5,1,Missouri,11,0,0,99
100,3,14,3,11,1,UConn,3,1,1,100
101,3,14,3,11,1,Bucknell,14,0,0,101
102,7,10,7,3,1,Temple,7,1,1,102
103,7,10,7,3,1,Penn State,10,0,0,103
104,2,15,2,13,1,San Diego State,2,1,1,104
105,2,15,2,13,1,Northern Colorado,15,0,0,105
106,1,8,1,7,1,Duke,1,1,1,106
107,1,8,1,7,1,Michigan,8,0,0,107
108,5,4,5,1,2,Arizona,5,1,0,108
109,5,4,5,1,2,Texas,4,0,1,109
110,6,3,3,3,1,Cincinnati,6,0,0,110
111,6,3,3,3,1,UConn,3,1,1,111
112,7,2,2,5,1,Temple,7,0,0,112
113,7,2,2,5,1,San Diego State,2,1,1,113
114,1,5,5,4,2,Duke,1,0,1,114
115,1,5,5,4,2,Arizona,5,1,0,115
116,3,2,3,1,2,UConn,3,1,0,116
117,3,2,3,1,2,San Diego State,2,0,1,117
118,5,3,3,2,1,Arizona,5,0,0,118
119,5,3,3,2,1,UConn,3,1,1,119
120,3,4,3,1,1,UConn,3,1,1,120
121,3,4,3,1,1,Kentucky,4,0,0,121
122,11,8,8,3,1,VCU,11,0,0,122
123,11,8,8,3,1,Butler,8,1,1,123
124,3,8,3,5,1,UConn,3,1,1,124
125,3,8,3,5,1,Butler,8,0,0,125

In [241]:
df1['name']

0                         VMI
1                     Oakland
2                  Washington
3      Long Island University
4                      Kansas
5                       Lamar
6          South Dakota State
7                         BYU
8                    Missouri
9                        Duke
10                    Belmont
11               South Dakota
12                   Colorado
13               Saint Mary's
14                       Iona
15                Texas State
16                   Duquesne
17           Coastal Carolina
18                 Ohio State
19         Northwestern State
20                   Maryland
21                   La Salle
22                    Gonzaga
23             North Carolina
24                    Arizona
25                   Kentucky
26                   Longwood
27                North Texas
28                   Lipscomb
29                 Vanderbilt
30                 Charleston
31                  Marquette
32                 Notre Dame
33                Utah Valley
34                 Providence
35         North Dakota State
36                 Louisville
37                  UC Irvine
38               Oral Roberts
39                      Texas
40             Tennessee Tech
41                 Iowa State
42                       Ohio
43              Detroit Mercy
44                    McNeese
45          Purdue Fort Wayne
46                New Orleans
47                       Elon
48              UNC Asheville
49              Southern Miss
50                 Pittsburgh
51                   Ole Miss
52                Boise State
53                      Rider
54                    Wofford
55        Charleston Southern
56                   Marshall
57                Austin Peay
58                     Lehigh
59                   Syracuse
60                 New Mexico
61           Washington State
62                      UConn
63               George Mason
64                 Texas Tech
65           Long Beach State
66                 Valparaiso
67               Kansas State
68          Appalachian State
69                Santa Clara
70                     Butler
71                  Villanova
72                     Purdue
73                     Xavier
74               Coppin State
75           Western Michigan
76                San José St
77                 California
78             Portland State
79              Wichita State
80            San Diego State
81          Northern Colorado
82                 Utah State
83           Northern Arizona
84                    Harvard
85                    Memphis
86                       UNLV
87                 Quinnipiac
88            Cleveland State
89      Florida International
90                      IUPUI
91           New Mexico State
92               Northwestern
93             Boston College
94                       Troy
95             Colorado State
96              James Madison
97                    Florida
98                        VCU
99                      Brown
                ...
246           Bethune-Cookman
247                     UMass
248      South Carolina State
249                  American
250            SE Missouri St
251                High Point
252                  Michigan
253          Eastern Kentucky
254                  Oklahoma
255              UC Riverside
256                   Wyoming
257                Evansville
258              Old Dominion
259                  Winthrop
260                   Pacific
261        Florida Gulf Coast
262              Alcorn State
263                  Nicholls
264                  Campbell
265             Jackson State
266          Georgia Southern
267                       SMU
268          St. Francis (PA)
269         Boston University
270                 Fairfield
271            Kennesaw State
272             North Florida
273                   Colgate
274                   Bradley
275         George Washington
276          SIU-Edwardsville
277               Idaho State
278               Alabama A&M
279            Saint Joseph's
280                     Drake
281       Fairleigh Dickinson
282              Wright State
283                      UMBC
284               Florida A&M
285             Bowling Green
286                   Fordham
287            Louisiana Tech
288            William & Mary
289                 Air Force
290                   Stetson
291               The Citadel
292             Arizona State
293            Texas Southern
294            UNC Wilmington
295                    Drexel
296             Northern Iowa
297                Penn State
298               Saint Louis
299                  Delaware
300                    Albany
301          Prairie View A&M
302                       UIC
303              Texas A&M-CC
304            Delaware State
305                    Auburn
306                       LSU
307              Gardner-Webb
308             South Florida
309             Georgia State
310                  Virginia
311              Presbyterian
312          Sacramento State
313          Eastern Michigan
314                   Niagara
315             Saint Peter's
316             Alabama State
317            Illinois State
318         Southern Illinois
319               Stony Brook
320        Jacksonville State
321                 San Diego
322                   Samford
323            Mt. St. Mary's
324                  Monmouth
325               Savannah St
326                 Grambling
327          Eastern Illinois
328                 Manhattan
329                Binghamton
330                    Denver
331                    Marist
332                 UL Monroe
333                  Hartford
334                   Radford
335       Arkansas-Pine Bluff
336                 Dartmouth
337          Central Michigan
338                  Cal Poly
339                 Centenary
340                    Howard
341             New Hampshire
342    South Carolina Upstate
343                    Toledo
344          Western Illinois
345                  Southern
Name: name, Length: 346, dtype: object

In [219]:
possibly2

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index,PTS,FG_perc,_3p_perc,FT_perc
0,1,16,1,15,1,Ohio State,1,1,1,0,77.1,0.494,0.413,0.705
3,1,16,1,15,1,UTSA,16,0,0,1,70.9,0.431,0.356,0.706
4,8,9,8,1,1,George Mason,8,1,1,2,73.3,0.474,0.397,0.690
6,8,9,8,1,1,Villanova,9,0,0,3,72.7,0.440,0.349,0.758
7,5,12,5,7,1,West Virginia,5,1,1,4,69.5,0.427,0.335,0.706
9,5,12,5,7,1,Clemson,12,0,0,5,68.3,0.442,0.349,0.693
10,4,13,4,9,1,Kentucky,4,1,1,6,76.4,0.460,0.397,0.718
15,4,13,4,9,1,Princeton,13,0,0,7,69.6,0.465,0.368,0.731
16,6,11,11,5,2,Xavier,6,0,1,8,72.6,0.463,0.333,0.748
17,6,11,11,5,2,Marquette,11,1,0,9,76.1,0.468,0.352,0.691
20,3,14,3,11,1,Syracuse,3,1,1,10,73.6,0.469,0.352,0.659
22,3,14,3,11,1,Indiana State,14,0,0,11,66.5,0.430,0.363,0.711
23,7,10,7,3,1,Washington,7,1,1,12,83.5,0.471,0.371,0.667
25,7,10,7,3,1,Georgia,10,0,0,13,68.8,0.451,0.340,0.696
1,1,8,1,7,1,Ohio State,1,1,1,16,77.1,0.494,0.413,0.705
5,1,8,1,7,1,George Mason,8,0,0,17,73.3,0.474,0.397,0.690
8,5,4,4,1,1,West Virginia,5,0,0,18,69.5,0.427,0.335,0.706
11,5,4,4,1,1,Kentucky,4,1,1,19,76.4,0.460,0.397,0.718
18,11,3,11,8,2,Marquette,11,1,0,20,76.1,0.468,0.352,0.691
21,11,3,11,8,2,Syracuse,3,0,1,21,73.6,0.469,0.352,0.659
24,7,2,2,5,1,Washington,7,0,0,22,83.5,0.471,0.371,0.667
2,1,4,4,3,2,Ohio State,1,0,1,24,77.1,0.494,0.413,0.705
12,1,4,4,3,2,Kentucky,4,1,0,25,76.4,0.460,0.397,0.718
19,11,2,2,9,1,Marquette,11,0,0,26,76.1,0.468,0.352,0.691
13,4,2,4,2,2,Kentucky,4,1,0,28,76.4,0.460,0.397,0.718
26,1,16,1,15,1,UNC Asheville,16,0,0,31,74.2,0.455,0.333,0.706
27,8,9,8,1,1,Butler,8,1,1,32,72.8,0.446,0.361,0.730
33,8,9,8,1,1,Old Dominion,9,0,0,33,65.8,0.441,0.329,0.664
34,5,12,5,7,1,Kansas State,5,1,1,34,73.1,0.438,0.375,0.647
36,5,12,5,7,1,Utah State,12,0,0,35,72.2,0.470,0.368,0.736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,4,13,4,9,1,Texas,4,1,1,96,74.9,0.454,0.377,0.645
98,4,13,4,9,1,Oakland,13,0,0,97,85.6,0.494,0.379,0.720
99,6,11,6,5,1,Cincinnati,6,1,1,98,69.0,0.436,0.339,0.666
101,6,11,6,5,1,Missouri,11,0,0,99,81.4,0.461,0.368,0.739
102,3,14,3,11,1,UConn,3,1,1,100,73.4,0.433,0.332,0.755
108,3,14,3,11,1,Bucknell,14,0,0,101,70.8,0.450,0.402,0.786
109,7,10,7,3,1,Temple,7,1,1,102,70.9,0.448,0.354,0.694
111,7,10,7,3,1,Penn State,10,0,0,103,63.0,0.437,0.336,0.725
112,2,15,2,13,1,San Diego State,2,1,1,104,72.2,0.467,0.344,0.698
115,2,15,2,13,1,Northern Colorado,15,0,0,105,72.2,0.431,0.387,0.772
85,1,8,1,7,1,Duke,1,1,1,106,81.1,0.469,0.375,0.750
89,1,8,1,7,1,Michigan,8,0,0,107,66.1,0.444,0.353,0.696
92,5,4,5,1,2,Arizona,5,1,0,108,76.5,0.471,0.399,0.747
97,5,4,5,1,2,Texas,4,0,1,109,74.9,0.454,0.377,0.645
100,6,3,3,3,1,Cincinnati,6,0,0,110,69.0,0.436,0.339,0.666
103,6,3,3,3,1,UConn,3,1,1,111,73.4,0.433,0.332,0.755
110,7,2,2,5,1,Temple,7,0,0,112,70.9,0.448,0.354,0.694
113,7,2,2,5,1,San Diego State,2,1,1,113,72.2,0.467,0.344,0.698
86,1,5,5,4,2,Duke,1,0,1,114,81.1,0.469,0.375,0.750
93,1,5,5,4,2,Arizona,5,1,0,115,76.5,0.471,0.399,0.747
104,3,2,3,1,2,UConn,3,1,0,116,73.4,0.433,0.332,0.755
114,3,2,3,1,2,San Diego State,2,0,1,117,72.2,0.467,0.344,0.698
94,5,3,3,2,1,Arizona,5,0,0,118,76.5,0.471,0.399,0.747
105,5,3,3,2,1,UConn,3,1,1,119,73.4,0.433,0.332,0.755
106,3,4,3,1,1,UConn,3,1,1,120,73.4,0.433,0.332,0.755
14,3,4,3,1,1,Kentucky,4,0,0,121,76.4,0.460,0.397,0.718
74,11,8,8,3,1,VCU,11,0,0,122,71.5,0.435,0.359,0.719
31,11,8,8,3,1,Butler,8,1,1,123,72.8,0.446,0.361,0.730
107,3,8,3,5,1,UConn,3,1,1,124,73.4,0.433,0.332,0.755
32,3,8,3,5,1,Butler,8,0,0,125,72.8,0.446,0.361,0.730

In [244]:
list(df1['name'])

['VMI',
 'Oakland',
 'Washington',
 'Long Island University',
 'Kansas',
 'Lamar',
 'South Dakota State',
 'BYU',
 'Missouri',
 'Duke',
 'Belmont',
 'South Dakota',
 'Colorado',
 "Saint Mary's",
 'Iona',
 'Texas State',
 'Duquesne',
 'Coastal Carolina',
 'Ohio State',
 'Northwestern State',
 'Maryland',
 'La Salle',
 'Gonzaga',
 'North Carolina',
 'Arizona',
 'Kentucky',
 'Longwood',
 'North Texas',
 'Lipscomb',
 'Vanderbilt',
 'Charleston',
 'Marquette',
 'Notre Dame',
 'Utah Valley',
 'Providence',
 'North Dakota State',
 'Louisville',
 'UC Irvine',
 'Oral Roberts',
 'Texas',
 'Tennessee Tech',
 'Iowa State',
 'Ohio',
 'Detroit Mercy',
 'McNeese',
 'Purdue Fort Wayne',
 'New Orleans',
 'Elon',
 'UNC Asheville',
 'Southern Miss',
 'Pittsburgh',
 'Ole Miss',
 'Boise State',
 'Rider',
 'Wofford',
 'Charleston Southern',
 'Marshall',
 'Austin Peay',
 'Lehigh',
 'Syracuse',
 'New Mexico',
 'Washington State',
 'UConn',
 'George Mason',
 'Texas Tech',
 'Long Beach State',
 'Valparaiso',
 'Kansas State',
 'Appalachian State',
 'Santa Clara',
 'Butler',
 'Villanova',
 'Purdue',
 'Xavier',
 'Coppin State',
 'Western Michigan',
 'San José St',
 'California',
 'Portland State',
 'Wichita State',
 'San Diego State',
 'Northern Colorado',
 'Utah State',
 'Northern Arizona',
 'Harvard',
 'Memphis',
 'UNLV',
 'Quinnipiac',
 'Cleveland State',
 'Florida International',
 'IUPUI',
 'New Mexico State',
 'Northwestern',
 'Boston College',
 'Troy',
 'Colorado State',
 'James Madison',
 'Florida',
 'VCU',
 'Brown',
 'Davidson',
 'Buffalo',
 'North Carolina A&T',
 'Illinois',
 'CSU Fullerton',
 'Portland',
 'UC Davis',
 'Miami',
 'UNC Greensboro',
 'Chattanooga',
 'Georgetown',
 'UTEP',
 'Temple',
 'UTSA',
 'UT Arlington',
 'Louisiana',
 'Kent State',
 'Columbia',
 'Hofstra',
 'Loyola Marymount',
 'Bucknell',
 'Arkansas',
 'NC State',
 'Tennessee',
 'Akron',
 'Tulsa',
 'Weber State',
 'South Alabama',
 'Richmond',
 'Nevada',
 'St. Bonaventure',
 'Western Kentucky',
 "St. John's",
 'SE Louisiana',
 'Central Connecticut',
 'UMKC',
 'UCLA',
 'Norfolk State',
 'Lafayette',
 'Virginia Tech',
 'Mississippi State',
 'Western Carolina',
 'Morehead State',
 'CSU Northridge',
 'Sam Houston State',
 'Maine',
 'Princeton',
 'Indiana',
 'West Virginia',
 'Oregon',
 'Baylor',
 'Loyola Chicago',
 'Pepperdine',
 'Florida State',
 'Middle Tennessee',
 'Oregon State',
 'Southern Utah',
 'Missouri State',
 'UCF',
 'Youngstown St',
 'Houston Baptist',
 'East Tennessee State',
 'Furman',
 'Cincinnati',
 'Seattle',
 'Minnesota',
 'Milwaukee',
 'UAB',
 "Hawai'i",
 'Texas A&M',
 'San Francisco',
 'NJIT',
 'Georgia',
 'North Carolina Central',
 'Houston',
 'Florida Atlantic',
 'UT Martin',
 'Tulane',
 'Michigan State',
 'Northern Illinois',
 'Towson',
 'Central Arkansas',
 'Arkansas State',
 'UC Santa Barbara',
 'Murray State',
 'Rhode Island',
 'Mississippi Valley State',
 'East Carolina',
 'Clemson',
 'North Dakota',
 'Oklahoma State',
 'Wisconsin',
 'UT Rio Grande Valley',
 'Navy',
 'Yale',
 'Tennessee State',
 'CSU Bakersfield',
 'Jacksonville',
 'Canisius',
 'Cornell',
 'Little Rock',
 'Army',
 'DePaul',
 'Siena',
 'Georgia Tech',
 'Idaho',
 'Liberty',
 'Wagner',
 'Ball State',
 'Fresno State',
 'Maryland-Eastern Shore',
 'South Carolina',
 'Seton Hall',
 'Eastern Washington',
 'Loyola (MD)',
 'Vermont',
 'Green Bay',
 'Robert Morris',
 'Mercer',
 'TCU',
 'Hampton',
 'Iowa',
 'Wake Forest',
 'Holy Cross',
 'Rice',
 'Montana State',
 'Utah',
 'Montana',
 'Nebraska',
 'USC',
 'Creighton',
 'St. Francis (BKN)',
 'Pennsylvania',
 'Bryant',
 'Alabama',
 'Miami (OH)',
 'Northeastern',
 'Charlotte',
 'Dayton',
 'Chicago State',
 'Morgan State',
 'Indiana State',
 'Stephen F. Austin',
 'Stanford',
 'Rutgers',
 'Sacred Heart',
 'Bethune-Cookman',
 'UMass',
 'South Carolina State',
 'American',
 'SE Missouri St',
 'High Point',
 'Michigan',
 'Eastern Kentucky',
 'Oklahoma',
 'UC Riverside',
 'Wyoming',
 'Evansville',
 'Old Dominion',
 'Winthrop',
 'Pacific',
 'Florida Gulf Coast',
 'Alcorn State',
 'Nicholls',
 'Campbell',
 'Jackson State',
 'Georgia Southern',
 'SMU',
 'St. Francis (PA)',
 'Boston University',
 'Fairfield',
 'Kennesaw State',
 'North Florida',
 'Colgate',
 'Bradley',
 'George Washington',
 'SIU-Edwardsville',
 'Idaho State',
 'Alabama A&M',
 "Saint Joseph's",
 'Drake',
 'Fairleigh Dickinson',
 'Wright State',
 'UMBC',
 'Florida A&M',
 'Bowling Green',
 'Fordham',
 'Louisiana Tech',
 'William & Mary',
 'Air Force',
 'Stetson',
 'The Citadel',
 'Arizona State',
 'Texas Southern',
 'UNC Wilmington',
 'Drexel',
 'Northern Iowa',
 'Penn State',
 'Saint Louis',
 'Delaware',
 'Albany',
 'Prairie View A&M',
 'UIC',
 'Texas A&M-CC',
 'Delaware State',
 'Auburn',
 'LSU',
 'Gardner-Webb',
 'South Florida',
 'Georgia State',
 'Virginia',
 'Presbyterian',
 'Sacramento State',
 'Eastern Michigan',
 'Niagara',
 "Saint Peter's",
 'Alabama State',
 'Illinois State',
 'Southern Illinois',
 'Stony Brook',
 'Jacksonville State',
 'San Diego',
 'Samford',
 "Mt. St. Mary's",
 'Monmouth',
 'Savannah St',
 'Grambling',
 'Eastern Illinois',
 'Manhattan',
 'Binghamton',
 'Denver',
 'Marist',
 'UL Monroe',
 'Hartford',
 'Radford',
 'Arkansas-Pine Bluff',
 'Dartmouth',
 'Central Michigan',
 'Cal Poly',
 'Centenary',
 'Howard',
 'New Hampshire',
 'South Carolina Upstate',
 'Toledo',
 'Western Illinois',
 'Southern']

In [72]:
newdf['name'].unique()

array(['Maryland', 'Siena', 'Wisconsin', "St. John's (NY)", 'Marquette',
       'Tulsa', 'Kentucky', 'Valparaiso', 'Texas Tech',
       'Southern Illinois', 'Georgia', 'Murray State', 'NC State',
       'Michigan State', 'UConn', 'Hampton', 'Kansas', 'Holy Cross',
       'Stanford', 'Western Kentucky', 'Florida', 'Creighton', 'Illinois',
       'San Diego State', 'Texas', 'Boston College', 'Mississippi State',
       'McNeese State', 'Wake Forest', 'Pepperdine', 'Oregon', 'Montana',
       'Duke', 'Winthrop', 'Notre Dame', 'Charlotte', 'Indiana', 'Utah',
       'USC', 'UNC Wilmington', 'California', 'Penn', 'Pitt',
       'Central Connecticut', 'Oklahoma State', 'Kent State', 'Alabama',
       'Florida Atlantic', 'Cincinnati', 'Boston University', 'UCLA',
       'Ole Miss', 'Miami (FL)', 'Missouri', 'Ohio State', 'Davidson',
       'Gonzaga', 'Wyoming', 'Arizona', 'UCSB', 'Xavier', 'Hawaii',
       'Oklahoma', 'UIC'], dtype=object)

In [136]:
df1['name'].unique()

array(['VMI', 'Oakland', 'Washington', 'Long Island University', 'Kansas',
       'Lamar', 'South Dakota State', 'BYU', 'Missouri', 'Duke',
       'Belmont', 'South Dakota', 'Colorado', "Saint Mary's", 'Iona',
       'Texas State', 'Duquesne', 'Coastal Carolina', 'Ohio State',
       'Northwestern State', 'Maryland', 'La Salle', 'Gonzaga',
       'North Carolina', 'Arizona', 'Kentucky', 'Longwood', 'North Texas',
       'Lipscomb', 'Vanderbilt', 'Charleston', 'Marquette', 'Notre Dame',
       'Utah Valley', 'Providence', 'North Dakota State', 'Louisville',
       'UC Irvine', 'Oral Roberts', 'Texas', 'Tennessee Tech',
       'Iowa State', 'Ohio', 'Detroit Mercy', 'McNeese',
       'Purdue Fort Wayne', 'New Orleans', 'Elon', 'UNC Asheville',
       'Southern Miss', 'Pittsburgh', 'Ole Miss', 'Boise State', 'Rider',
       'Wofford', 'Charleston Southern', 'Marshall', 'Austin Peay',
       'Lehigh', 'Syracuse', 'New Mexico', 'Washington State', 'UConn',
       'George Mason', 'Texas Tech', 'Long Beach State', 'Valparaiso',
       'Kansas State', 'Appalachian State', 'Santa Clara', 'Butler',
       'Villanova', 'Purdue', 'Xavier', 'Coppin State',
       'Western Michigan', 'San José St', 'California', 'Portland State',
       'Wichita State', 'San Diego State', 'Northern Colorado',
       'Utah State', 'Northern Arizona', 'Harvard', 'Memphis', 'UNLV',
       'Quinnipiac', 'Cleveland State', 'Florida International', 'IUPUI',
       'New Mexico State', 'Northwestern', 'Boston College', 'Troy',
       'Colorado State', 'James Madison', 'Florida', 'VCU', 'Brown',
       'Davidson', 'Buffalo', 'North Carolina A&T', 'Illinois',
       'CSU Fullerton', 'Portland', 'UC Davis', 'Miami', 'UNC Greensboro',
       'Chattanooga', 'Georgetown', 'UTEP', 'Temple', 'UTSA',
       'UT Arlington', 'Louisiana', 'Kent State', 'Columbia', 'Hofstra',
       'Loyola Marymount', 'Bucknell', 'Arkansas', 'NC State',
       'Tennessee', 'Akron', 'Tulsa', 'Weber State', 'South Alabama',
       'Richmond', 'Nevada', 'St. Bonaventure', 'Western Kentucky',
       "St. John's", 'SE Louisiana', 'Central Connecticut', 'UMKC',
       'UCLA', 'Norfolk State', 'Lafayette', 'Virginia Tech',
       'Mississippi State', 'Western Carolina', 'Morehead State',
       'CSU Northridge', 'Sam Houston State', 'Maine', 'Princeton',
       'Indiana', 'West Virginia', 'Oregon', 'Baylor', 'Loyola Chicago',
       'Pepperdine', 'Florida State', 'Middle Tennessee', 'Oregon State',
       'Southern Utah', 'Missouri State', 'UCF', 'Youngstown St',
       'Houston Baptist', 'East Tennessee State', 'Furman', 'Cincinnati',
       'Seattle', 'Minnesota', 'Milwaukee', 'UAB', "Hawai'i", 'Texas A&M',
       'San Francisco', 'NJIT', 'Georgia', 'North Carolina Central',
       'Houston', 'Florida Atlantic', 'UT Martin', 'Tulane',
       'Michigan State', 'Northern Illinois', 'Towson',
       'Central Arkansas', 'Arkansas State', 'UC Santa Barbara',
       'Murray State', 'Rhode Island', 'Mississippi Valley State',
       'East Carolina', 'Clemson', 'North Dakota', 'Oklahoma State',
       'Wisconsin', 'UT Rio Grande Valley', 'Navy', 'Yale',
       'Tennessee State', 'CSU Bakersfield', 'Jacksonville', 'Canisius',
       'Cornell', 'Little Rock', 'Army', 'DePaul', 'Siena',
       'Georgia Tech', 'Idaho', 'Liberty', 'Wagner', 'Ball State',
       'Fresno State', 'Maryland-Eastern Shore', 'South Carolina',
       'Seton Hall', 'Eastern Washington', 'Loyola (MD)', 'Vermont',
       'Green Bay', 'Robert Morris', 'Mercer', 'TCU', 'Hampton', 'Iowa',
       'Wake Forest', 'Holy Cross', 'Rice', 'Montana State', 'Utah',
       'Montana', 'Nebraska', 'USC', 'Creighton', 'St. Francis (BKN)',
       'Pennsylvania', 'Bryant', 'Alabama', 'Miami (OH)', 'Northeastern',
       'Charlotte', 'Dayton', 'Chicago State', 'Morgan State',
       'Indiana State', 'Stephen F. Austin', 'Stanford', 'Rutgers',
       'Sacred Heart', 'Bethune-Cookman', 'UMass', 'South Carolina State',
       'American', 'SE Missouri St', 'High Point', 'Michigan',
       'Eastern Kentucky', 'Oklahoma', 'UC Riverside', 'Wyoming',
       'Evansville', 'Old Dominion', 'Winthrop', 'Pacific',
       'Florida Gulf Coast', 'Alcorn State', 'Nicholls', 'Campbell',
       'Jackson State', 'Georgia Southern', 'SMU', 'St. Francis (PA)',
       'Boston University', 'Fairfield', 'Kennesaw State',
       'North Florida', 'Colgate', 'Bradley', 'George Washington',
       'SIU-Edwardsville', 'Idaho State', 'Alabama A&M', "Saint Joseph's",
       'Drake', 'Fairleigh Dickinson', 'Wright State', 'UMBC',
       'Florida A&M', 'Bowling Green', 'Fordham', 'Louisiana Tech',
       'William & Mary', 'Air Force', 'Stetson', 'The Citadel',
       'Arizona State', 'Texas Southern', 'UNC Wilmington', 'Drexel',
       'Northern Iowa', 'Penn State', 'Saint Louis', 'Delaware', 'Albany',
       'Prairie View A&M', 'UIC', 'Texas A&M-CC', 'Delaware State',
       'Auburn', 'LSU', 'Gardner-Webb', 'South Florida', 'Georgia State',
       'Virginia', 'Presbyterian', 'Sacramento State', 'Eastern Michigan',
       'Niagara', "Saint Peter's", 'Alabama State', 'Illinois State',
       'Southern Illinois', 'Stony Brook', 'Jacksonville State',
       'San Diego', 'Samford', "Mt. St. Mary's", 'Monmouth',
       'Savannah St', 'Grambling', 'Eastern Illinois', 'Manhattan',
       'Binghamton', 'Denver', 'Marist', 'UL Monroe', 'Hartford',
       'Radford', 'Arkansas-Pine Bluff', 'Dartmouth', 'Central Michigan',
       'Cal Poly', 'Centenary', 'Howard', 'New Hampshire',
       'South Carolina Upstate', 'Toledo', 'Western Illinois', 'Southern'],
      dtype=object)

# Putting stuff into MySQl so I can use the LIKE operator and merge dataframes

In [193]:
import mysql.connector
import stuff
cnx = mysql.connector.connect(
    host = stuff.host,
    user = stuff.user,
    passwd = stuff.password)

In [194]:
cursor = cnx.cursor()

In [140]:
#insert_stm = """CREATE DATABASE march_madness;"""
#cursor.execute(insert_stm)
#cnx.commit()

In [195]:
cnx.database = 'march_madness'

In [142]:
df1.head()

                     name   PTS  FG_perc  _3p_perc  FT_perc
0                     VMI  87.9    0.449     0.359    0.709
1                 Oakland  85.6    0.494     0.379    0.720
2              Washington  83.5    0.471     0.371    0.667
3  Long Island University  82.6    0.466     0.366    0.645
4                  Kansas  82.4    0.514     0.387    0.681

In [172]:
create_table = """
CREATE TABLE ESPN
(name VARCHAR(225),
PTS FLOAT,
FG_perc FLOAT,
_3p_perc FLOAT,
FT_perc FLOAT);
"""

In [173]:
cursor.execute(create_table)

In [160]:
all_data = []
i=0
for thing in (list(df1['name'])):
    new_tuple = ((list(df1['name']))[i], (list(df1['PTS']))[i], (list(df1['FG_perc']))[i], (list(df1['_3p_perc']))[i],
                 (list(df1['FT_perc']))[i])
    all_data.append(new_tuple)
    i+=1

In [174]:

insert_stm = """INSERT INTO ESPN (name, PTS, FG_perc, _3p_perc, FT_perc) 
VALUES (%s, %s, %s, %s, %s)"""
cursor.executemany(insert_stm, all_data)
cnx.commit()

In [202]:
create_table = """
CREATE TABLE sports_reference
(first_team INT,
second_team INT,
winner INT,
point_difference INT,
result INT,
name VARCHAR(225),
team_rank INT,
win INT,
relative_seed INT,
index_made INT);
"""

In [203]:
cursor.execute(create_table)

In [204]:
newdf2.head(1)

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index
0,1,16,1,15,1,Ohio State,1,1,1,0

In [208]:
all_data = []
i=0
for thing in (list(newdf2['name'])):
    new_tuple = ((list(newdf2['first_team']))[i], (list(newdf2['second_team']))[i], (list(newdf2['winner']))[i],
                 (list(newdf2['point_difference']))[i], (list(newdf2['result']))[i], (list(newdf2['name']))[i], (list(newdf2['team_rank']))[i],
                 (list(newdf2['win']))[i], (list(newdf2['higher_or_lower_seed']))[i], (list(newdf2['index']))[i]
                )
    all_data.append(new_tuple)
    i+=1

In [209]:
all_data[0]

(1, 16, 1, 15, 1, 'Ohio State', 1, 1, 1, 0)

In [210]:
insert_stm = """INSERT INTO sports_reference (first_team,
second_team,
winner,
point_difference,
result,
name,
team_rank,
win,
relative_seed,
index_made) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
cursor.executemany(insert_stm, all_data)
cnx.commit()

In [211]:
list(df1['name'])

  name   PTS  FG_perc  _3p_perc  FT_perc
0  VMI  87.9    0.449     0.359    0.709

In [212]:
df1_sorted = df1.sort_values(by ='name' )

In [216]:
df1_sorted[df1_sorted(['name']='ohio')]

SyntaxError: keyword can't be an expression (<ipython-input-216-a288dbd8a224>, line 1)

# testing stuff

In [272]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18], 'index_made':[0,1,2,3]}

In [274]:
data1 = pd.DataFrame(data)

In [275]:
data1

    Name  Age  index_made
0    Tom   20           0
1   nick   21           1
2  krish   19           2
3   jack   18           3

In [285]:
dat = {'Name':['Tomas', 'nickolas', 'krishas', 'jack'], 'p3':[30,40,50,60], 'ft':[8,7,3,2]}

In [286]:
data2 = pd.DataFrame(dat)

In [287]:
data2

       Name  p3  ft
0     Tomas  30   8
1  nickolas  40   7
2   krishas  50   3
3      jack  60   2

In [288]:
ugh=pd.merge(data1,data2,how='inner',on='Name')

In [289]:
ugh

   Name  Age  index_made  p3  ft
0  jack   18           3  60   2

In [292]:
maybe=data2[(data2['Name']=='Tomas')]
maybe

    Name  p3  ft
0  Tomas  30   8

In [293]:
maybe2=data1[(data1['Name']=='Tom')]
maybe2

  Name  Age  index_made
0  Tom   20           0

In [300]:
dict = {'Name':list(maybe2['Name'])[0],'Age':list(maybe2['Age'])[0],'index_made':list(maybe2['index_made'])[0],
        'p3':list(maybe['p3'])[0],'ft':list(maybe['ft'])[0]}

In [305]:
ugh=ugh.append(dict, ignore_index=True)

In [306]:
ugh

   Name  Age  index_made  p3  ft
0  jack   18           3  60   2
1   Tom   20           0  30   8

In [299]:
list(maybe2['Name'])[0]

'Tom'

In [ ]:
def add_to_df (name1, name2):
    maybe=data2[(data2['Name']==f'{name1}')]
    maybe2=data1[(data1['Name']==f'{name2}')]
    dict = {'Name':list(maybe2['Name'])[0],'Age':list(maybe2['Age'])[0],'index_made':list(maybe2['index_made'])[0],
        'p3':list(maybe['p3'])[0],'ft':list(maybe['ft'])[0]}
    ugh=ugh.append(dict, ignore_index=True)