In [ ]:
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=1
    maybe = []
    for thing in list(range(1,100)):
        if i%3 !=0:
            try:
                maybe.append(idk[k].select('div')[i].select('span')[0].string)
                i+=1
            except:
                i+=1
                continue
        else:
            i+=1
            continue
    return maybe

In [ ]:
https://www.sports-reference.com/cbb/postseason/2002-ncaa.html

In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import time
import matplotlib.pyplot as plt

In [29]:
page = requests.get('https://www.sports-reference.com/cbb/postseason/2002-ncaa.html')
soup = BS(page.content, 'html.parser')
idk=soup.select('div[class="round"]')
idk[0].select('a[href^=/cbb/schools]')[1].string

'Siena'

In [34]:
names_ = []
for thing in range(0,1000):
    try:
        names_.append(idk[0].select('a[href^=/cbb/schools]')[thing].string)
    except:
        break

In [36]:
names_

['Maryland',
 'Siena',
 'Wisconsin',
 "St. John's (NY)",
 'Marquette',
 'Tulsa',
 'Kentucky',
 'Valparaiso',
 'Texas Tech',
 'Southern Illinois',
 'Georgia',
 'Murray State',
 'NC State',
 'Michigan State',
 'UConn',
 'Hampton']

In [ ]:
i=1
maybe = []
for thing in list(range(1,100)):
    if i%3 !=0:
        try:
            maybe.append(idk[k].select('div')[i].select('span')[0].string)
            i+=1
        except:
            i+=1
            continue
    else:
        i+=1
        continue

In [51]:
def get_team_names (link,k):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    maybe = []
    for thing in list(range(0,100)):
        try:
            maybe.append(idk[k].select('a[href^=/cbb/schools]')[thing].string)
        except:
            continue
    return maybe

In [52]:
def get_teams_get (link):
    team_names = []
    for thing in list(range(0,23)):
        new=get_team_names (link,thing)
        team_names.extend(new)
    team_names.pop(-1)
    team_names.pop(30)
    team_names.pop(60)
    team_names.pop(90)
    team_names.pop(120)
    return team_names

In [53]:
def get_teams (link,k):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=1
    maybe = []
    for thing in list(range(1,100)):
        if i%3 !=0:
            try:
                maybe.append(idk[k].select('div')[i].select('span')[0].string)
                i+=1
            except:
                i+=1
                continue
        else:
            i+=1
            continue
    return maybe

In [54]:
def split_up_teams (link):
    All_teams = []
    for thing in list(range(0,23)):
        new=get_teams (link,thing)
        All_teams.extend(new)
    All_teams.pop(-1)
    All_teams.pop(30)
    All_teams.pop(60)
    All_teams.pop(90)
    All_teams.pop(120)
    return All_teams

In [55]:
All_teams=split_up_teams('https://www.sports-reference.com/cbb/postseason/2002-ncaa.html')

In [57]:
#all_the teams - rankings in order for a year
len(All_teams)

126

In [79]:
rankings= []
for thing in All_teams:
    rankings.append(int(thing))

In [58]:
team_names=get_teams_get ('https://www.sports-reference.com/cbb/postseason/2002-ncaa.html')

In [64]:
#all the team names in order
team_names[0]

'Maryland'

In [43]:
def get_winners (link):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=0
    k=0
    winners=[]
    for thing in list(range(1,100)):
        if k == 22:
            break
        elif k == 0 or k== 1 or k==2 or k==3 or k==5 or k==6 or k==7 or k==8 or k==10 or k==11 or k==12 or k==13 or k==15 or k==16 or k==17 or k==18 or k==20 or k==21:
            try:
                winners.append(idk[k].select('div')[i].select('div[class="winner"]')[0].select('span')[0].string)
                i+=3
            except:
                i=0
                k+=1
                continue
        else:
            i=0
            k+=1
            continue
    winners_int=[]
    for thing in winners:
        winners_int.append(int(thing))
    return winners_int

In [45]:
winners=get_winners ('https://www.sports-reference.com/cbb/postseason/2002-ncaa.html')

In [48]:
len(winners)

63

In [3]:
import pandas as pd

In [4]:
df8 = pd.read_csv('newdf.csv')

FileNotFoundError: File b'newdf.csv' does not exist

In [65]:
df8['team_name'] = team_names

In [80]:
df8['team_rank'] = rankings

In [1]:
df8

NameError: name 'df8' is not defined

In [82]:
win = []
i = 0
for thing in list(df8['team_rank']):
    if list(df8['first_team'])[i] == list(df8['second_team'])[i]:
        win.append(9999)
    elif list(df8['team_rank'])[i] == list(df8['winner'])[i]:
        win.append(1)
    elif list(df8['team_rank'])[i] != list(df8['winner'])[i]:
        win.append(0)
    i+=1
df8['win']=win

In [83]:
list(df8['team_rank'])

[1,
 16,
 8,
 9,
 5,
 12,
 4,
 13,
 6,
 11,
 3,
 14,
 7,
 10,
 2,
 15,
 1,
 8,
 12,
 4,
 11,
 3,
 7,
 2,
 1,
 4,
 11,
 2,
 1,
 2,
 1,
 16,
 8,
 9,
 5,
 12,
 4,
 13,
 6,
 11,
 3,
 14,
 7,
 10,
 2,
 15,
 1,
 8,
 12,
 4,
 6,
 3,
 7,
 2,
 1,
 4,
 6,
 2,
 1,
 2,
 1,
 16,
 8,
 9,
 5,
 12,
 4,
 13,
 6,
 11,
 3,
 14,
 7,
 10,
 2,
 15,
 1,
 8,
 5,
 13,
 6,
 3,
 10,
 2,
 1,
 5,
 3,
 10,
 5,
 10,
 1,
 16,
 8,
 9,
 5,
 12,
 4,
 13,
 6,
 11,
 3,
 14,
 7,
 10,
 2,
 15,
 1,
 8,
 12,
 4,
 11,
 3,
 7,
 2,
 8,
 12,
 3,
 2,
 12,
 2,
 1,
 1,
 2,
 5,
 1,
 5]

In [85]:
df8.to_csv('df8.csv')

In [86]:
df8

,Unnamed: 0,first_team,second_team,winner,point_difference,result,team_name,team_rank,win
0,0,1,16,1,15,1,Maryland,1,1
1,1,1,16,1,15,1,Siena,16,0
2,2,8,9,8,1,1,Wisconsin,8,1
3,3,8,9,8,1,1,St. John's (NY),9,0
4,4,5,12,12,7,2,Marquette,5,0
5,5,5,12,12,7,2,Tulsa,12,1
6,6,4,13,4,9,1,Kentucky,4,1
7,7,4,13,4,9,1,Valparaiso,13,0
8,8,6,11,11,5,2,Texas Tech,6,0
9,9,6,11,11,5,2,Southern Illinois,11,1
10,10,3,14,3,11,1,Georgia,3,1
11,11,3,14,3,11,1,Murray State,14,0
12,12,7,10,7,3,1,NC State,7,1
13,13,7,10,7,3,1,Michigan State,10,0
14,14,2,15,2,13,1,UConn,2,1
15,15,2,15,2,13,1,Hampton,15,0
16,16,1,8,1,7,1,Maryland,1,1
17,17,1,8,1,7,1,Wisconsin,8,0
18,18,12,4,4,8,1,Tulsa,12,0
19,19,12,4,4,8,1,Kentucky,4,1
20,20,11,3,11,8,2,Southern Illinois,11,1
21,21,11,3,11,8,2,Georgia,3,0
22,22,7,2,2,5,1,NC State,7,0
23,23,7,2,2,5,1,UConn,2,1
24,24,1,4,1,3,1,Maryland,1,1
25,25,1,4,1,3,1,Kentucky,4,0
26,26,11,2,2,9,1,Southern Illinois,11,0
27,27,11,2,2,9,1,UConn,2,1
28,28,1,2,1,1,1,Maryland,1,1
29,29,1,2,1,1,1,UConn,2,0
...,...,...,...,...,...,...,...,...,...
96,96,4,13,4,9,1,Ohio State,4,1
97,97,4,13,4,9,1,Davidson,13,0
98,98,6,11,11,5,2,Gonzaga,6,0
99,99,6,11,11,5,2,Wyoming,11,1
100,100,3,14,3,11,1,Arizona,3,1
101,101,3,14,3,11,1,UCSB,14,0
102,102,7,10,7,3,1,Xavier,7,1
103,103,7,10,7,3,1,Hawaii,10,0
104,104,2,15,2,13,1,Oklahoma,2,1
105,105,2,15,2,13,1,UIC,15,0
106,106,1,8,8,7,2,Cincinnati,1,0
107,107,1,8,8,7,2,UCLA,8,1
108,108,12,4,12,8,2,Missouri,12,1
109,109,12,4,12,8,2,Ohio State,4,0
110,110,11,3,3,8,1,Wyoming,11,0
111,111,11,3,3,8,1,Arizona,3,1
112,112,7,2,2,5,1,Xavier,7,0
113,113,7,2,2,5,1,Oklahoma,2,1
114,114,8,12,12,4,2,UCLA,8,0
115,115,8,12,12,4,2,Missouri,12,1
116,116,3,2,2,1,1,Arizona,3,0
117,117,3,2,2,1,1,Oklahoma,2,1
118,118,12,2,2,10,1,Missouri,12,0
119,119,12,2,2,10,1,Oklahoma,2,1
120,120,1,1,1,0,0,Maryland,1,9999
121,121,1,1,1,0,0,Kansas,1,9999
122,122,2,5,5,3,2,Oklahoma,2,0
123,123,2,5,5,3,2,Indiana,5,1
124,124,1,5,1,4,1,Maryland,1,1
125,125,1,5,1,4,1,Indiana,5,0